*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:Arial,Helvetica,sans-serif;
}


header,footer{
	background-color: #000;
	color: #fff;
	width: 100%;

}
footer{
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 22px;
	padding: 10px 0;
}
.content{
	flex: 1;
}
header h2{
	font-size: 20px;
}

header{
	display:flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px ;
}
nav ul li{
	list-style: none;
	display: inline-block;
}

nav ul li{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	padding: 0 15px;
	text-transform: capitalize;

}

.image{
	width: 10%;
	height: 10%;
	display: flex;
	/*justify-content:center;
	align-items: right;*/

}
.image img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: 1px solid #000;
}