*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial,sans-serif;
}
.header{
	background-color: #ff6f00;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.logo{
	font-size: 24px;
	font-weight: bold;
}
.nav{
	color: white;
	text-decoration: none;
	margin: 0 20px;
}
.nav a:hover{
	text-decoration: underline;
}
.nav a{
	text-decoration: none;
	color: white;
}
.login-btn{
	background-color: #ff6f00;
	color: white;
	border-radius: 5px;
}
.content{
	min-height: 10vh;
	text-align: left;
	font-weight: bold;
	font-family: monospace;
}
.footer{
	background-color: #333;
	color: white;
	text-align: center;
	padding: 0 20px;
}